<nav class="navbar is-light" role="navigation" aria-label="main navigation">

  <!-- Hamburguesa -->
  <div class="navbar-brand">
    <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample" (click)="abrirMenu()">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>
  <!-- Termina Hamburguesa -->

  <div id="navbar" class="navbar-menu">

    <div class="navbar-start">
      <a class="navbar-item" routerLink="">
        Inicio
      </a>
      <a class="navbar-item" routerLink="/browser">
        Browser
      </a>

      <!-- Desktop -->
      <div class="navbar-item has-dropdown is-hoverable">
        <a class="navbar-link">
          Desktop
        </a>

        <div class="navbar-dropdown">
          <a class="navbar-item" routerLink="/software">
            GNU/Linux
          </a>
          <a class="navbar-item" routerLink="/software">
            Mac OS
          </a>
          <a class="navbar-item" routerLink="/software">
            Windows
          </a>
        </div>
      </div>
      <!-- Termina Desktop -->

      <!-- Mobile -->
      <div class="navbar-item has-dropdown is-hoverable">
        <a class="navbar-link">
          Mobile
        </a>

        <div class="navbar-dropdown">
          <a class="navbar-item" routerLink="/software">
            Android
          </a>
          <a class="navbar-item" routerLink="/software">
            iOS
          </a>
        </div>
      </div>
      <!-- Termina Desktop -->

    </div>

  </div>

</nav>
