#admin-contenedor-global {
  width: 100%;
  aside {
    width: 10%;
    height: 100vh;
    background: blue;
    position: fixed;
    float: left;
  }
  main {
    width: 90%;
    min-height: 100vh;
    background: red;
    position: absolute;
    right: 0;
    float: right;
  }
}
